<h1 class="home__title">Bienvenido a la home de Rick & Morty...</h1>
<img
  src="https://i.ytimg.com/vi/z9rKwdRpEO0/maxresdefault.jpg"
  alt="Rick and morty Home"
  class="home__image"
/>
<h2 class="home__introduction">
  Oh vaya, que con home no os referíais a la casa literalmente...bueno, ya que
  estáis aquí, quedaos, supongo...
</h2>
<h2 class="home__introduction">
  Os dejo un vídeo a modo de resumen por si no habéis visto esta increíble serie
  animada.
</h2>
<iframe
class="home__iframe"
  width="100%"
  height="320"
  src="https://www.youtube.com/embed/7y88FxZmYEc"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe>
<h2 class="home__warning">¡OJO! Contiene spoilers!</h2>
<h3 class="home__synopsis">
  Rick y Morty es una serie de televisión de animación para adultos creada por
  Justin Roiland y Dan Harmon en 2013 para «Adult Swin». ¿Qué es Adult Swim? Si
  no te suena de nada, se trata de la filial de la Cartoon Network que dedica su
  programación al contenido de animación para adultos emitidas sin censura. Una
  emisión que, según sus propios creadores, es una mezcla entre Modern Family,
  Los Simpsons y Futurama, mezclada con constantes guiños a grandes sagas de la
  ciencia ficción como «Regreso al futuro» o «Star Trek», entre muchas otras.
</h3>
<img
  src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rick-morty-1557995325.jpg?crop=1.00xw:0.893xh;0,0.0232xh&resize=1200:*"
  alt="Rick and morty img"
  class="home__image"
/>
