<h2 class="title">Formulario para eliminar elementos de la BBDD:</h2>
<form class="form" novalidate (ngSubmit)="onSubmit()" [formGroup]="userRegisterForm">
  <fieldset class="form__fieldset">
    <label class="form__label" for="id">ID:</label>
    <input class="form__input" type="text" id="id" formControlName="id" />
    <div
      *ngIf="
        !userRegisterForm.get('id')?.valid &&
        (userRegisterForm.get('id')?.dirty || submitted)
      "
    >
      No existe el id
    </div>
  </fieldset>

  <button type="submit" class="form__button" [disabled]="!userRegisterForm?.valid">
    Borrar elemento de la base de datos
  </button>
</form>
