<h2 class="title">Formulario para actualizar la BBDD:</h2>
<form class="form" novalidate (ngSubmit)="onSubmit()" [formGroup]="userRegisterForm">
  <fieldset class="form__fieldset">
    <label class="form__label" for="id">ID:</label>
    <input class="form__input" type="text" id="id" formControlName="id" />
    <div
      *ngIf="
        !userRegisterForm.get('id')?.valid &&
        (userRegisterForm.get('id')?.dirty || submitted)
      "
    >
      Has introducido mal tu id
    </div>
  </fieldset>

  <fieldset class="form__fieldset">
    <label class="form__label" for="title">title:</label>
    <input class="form__input" type="text" id="title" formControlName="title" />
    <div
      *ngIf="
        !userRegisterForm.get('title')?.valid &&
        (userRegisterForm.get('title')?.dirty || submitted)
      "
    >
      Has introducido mal tu título
    </div>
  </fieldset>

  <fieldset class="form__fieldset">
    <label class="form__label" for="author">Author:</label>
    <input class="form__input" type="text" id="author" formControlName="author" />
    <div
      *ngIf="
        !userRegisterForm.get('author')?.valid &&
        (userRegisterForm.get('author')?.dirty || submitted)
      "
    >
      el autor no existe
    </div>
  </fieldset>
  <button class="form__button" type="submit" [disabled]="!userRegisterForm?.valid">
    Actualizar base de datos
  </button>
</form>
