<div *ngIf="biography">
  <ul class="container">
    <li class="container__element">
      <h2 class="container__name">{{ biography.name }}</h2>
      <app-image [biography]="biography"></app-image>
      <h5 class="container__label">
        Status:<span class="container__info"> {{ biography.status }}</span>
      </h5>
      <h5 class="container__label">
        Especie:<span class="container__info"> {{ biography.species }}</span>
      </h5>
      <h5 class="container__label">
        Género:<span class="container__info"> {{ biography.gender }}</span>
      </h5>
      <app-places [biography]="biography"></app-places>
    </li>
  </ul>
</div>
