$mainColor: #35b13c;
$yellow: #b2c455;

.home{
    &__synopsis{
        text-align: center;
                font-size: 1.2rem;
                margin: 20px auto 40px auto;
                line-height: 2.25;
    }
    &__image{
        display: block;
    width: 100%;
    margin: 0  auto;
    max-width: 500px;
    border-radius: 5px;
    }
}