<h1 class="title">Bienvenid@ a nuestro About</h1>
<h2 class="subtitle">
  Si estás viendo esto es porque quieres saber más información sobre el
  proyecto, los creadores... pues estás de suerte!
</h2>
<p class="introduction">
  En primer lugar, destacar que este es un proyecto sobre la serie Rick & Morty,
  aunque, si has llegado hasta aquí, ya te habrás dado cuenta.
</p>
<p class="introduction">
  Este proyecto está realizado en Angular, y es una práctica para el
  departamento de arquitectura de front de Minsait!
</p>
<p class="introduction">
  La temática escogida está basada en la gran API pública que tiene esta serie
  de TV, además de ser una de las favoritas del creador de esta página. A lo
  largo de toda la app podrás encontrar una home con información sobre la serie,
  un listado de personajes junto a sus resectivos detalles en los que
  encontrarás más información, un formulario para añadir datos...
</p>
